#logcatSingle {
    height: 600px;
    overflow-y: auto;
}

#logcatParent {
    background: #fff;
    position: absolute;
    top: 69px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    /*z-index: -10;*/
}

#logcatTable {
    table-layout: fixed !important;
}

.logcat-filters-table {
    margin-bottom: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logcat-filters-table .btn {
    margin: 0;
}

.logcat-filters-table thead>tr>th,
.logcat-filters-table tbody>tr>th,
.logcat-filters-table tfoot>tr>th,
.logcat-filters-table thead>tr>td,
.logcat-filters-table tbody>tr>td,
.logcat-filters-table tfoot>tr>td {
    border-top: none;
}

#logcatBody tr {
    border-bottom: 1px solid rgb(240, 240, 240);
}

#logcatBody td {
    padding-left: 5px;
    padding-right: 5px;
}

.console-message-text {
    font-size: 11px !important;
    font-family: Menlo, monospace;
    white-space: pre-wrap;
}

.console-message-text td {
    /*color: rgb(48, 57, 66);*/
}

/**
  Logging colors
*/

.log-unknown {
    color: bisque;
}

.log-default, .log-silent {
    color: darkolivegreen;
}

.log-verbose {
    color: blueviolet;
}

.log-debug {
    color: rgb(48, 57, 66);
}

.log-info {
    color: blue;
}

.log-warn {
    color: coral;
}

.log-error {
    color: red;
}

.log-fatal {
    color: darkcyan;
}

/*#logcatMax {*/

/*overflow-y: auto;*/
/*position: absolute;*/
/*top: 180px;*/
/*left: 20px;*/
/*bottom: 0;*/
/*bottom: 0;*/
/*background: hotpink;*/
/*}*/
