doctype html
html
  head
    title STF Maintenance
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    include partials/styles
  body(ng-cloak).forofour.bg-danger
    div(ng-view)
    .forofour-container
    h1
      i.fa.fa-unlink.fa-4x
    h2 STF is in maintenance mode.
    h3 Please wait, the system will be back up shortly.
