h1 Devices
  ul
  li(ng-repeat='device in devices track by device.serial')
    span {{ device.serial }} {{ device.present ? 'present' : 'absent' }} {{ device.owner.email }}
      a(href='#!/devices/{{ device.serial }}') Linky
    button(ng-click="invite(device)") invite
    button(ng-click="kick(device)") kick
             