.widget-container.fluid-height.stf-store-account(ng-controller='StoreAccountCtrl')
  .heading
    i.fa.fa-cloud
    span(translate) Store Account
    button.btn.btn-sm.btn-primary-outline.pull-right(ng-click='control.openStore()',
    tooltip='{{"App Store" | translate}}', tooltip-placement="bottom")
      i.fa.fa-shopping-cart
  .widget-content.padded
    div
    form(name='storeLogin', novalidate)
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user.fa-fw
          input.form-control(ng-model='username', name='username', required, type='text', placeholder='Username',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='store-login username')
        .alert.alert-warning(ng-show='storeLogin.username.$dirty && storeLogin.username.$invalid')
          span(ng-show='storeLogin.username.$error.required', translate) Please enter your Store username
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock.fa-fw
          input.form-control(ng-model='password', name='password', required, type='password', placeholder='Password',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='store-login password')
        .alert.alert-warning(ng-show='storeLogin.password.$dirty && storeLogin.password.$invalid')
          span(translate) Please enter your Store password
      button.btn.btn-primary(ng-click='addAccount()', ng-disabled='storeLogin.$invalid')
        i.fa.fa-sign-in
        span(translate) Add Account
      button.btn.btn-danger(ng-click='removeAccounts()').pull-right
        i.fa.fa-sign-out
        span(translate) Remove Accounts
