*.!sync
.DS_Store
/*.tgz
/.bowerrc
/.dockerignore
/.editorconfig
/.env
/.gitignore
/.idea/
/.jscsrc
/.npmignore
/.npmrc
/.travis.yml
/docker
/Dockerfile
/bower.json
/component.json
/gulpfile.js
/npm-debug.log
/res/bower_components/
/res/test/
/res/web_modules/
/rethinkdb_data/
/temp/
/test/
/tmp/
/webpack.config.js
