*.!sync
.DS_Store
/*.tgz
/.bowerrc
/.editorconfig
/.env
/.gitignore
/.idea/
/.jscsrc
/.npmignore
/.npmrc
/Dockerfile
/bower.json
/component.json
/doc/
/gulpfile.js
/node_modules/
/npm-debug.log
/res/bower_components/
/res/test/
/res/web_modules/
/rethinkdb_data/
/temp/
/test/
/tmp/
/webpack.config.js
