.stf-shell .shell-results {
  font-size: 12px;
  color: #fefefe;
  background: #444;
}

.stf-shell .shell-results-empty {
  font-style: italic;
}

.stf-shell .shell-input {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
}
