.stf-logs {
  .logcat-filters-table {
    margin-bottom: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }

  .logcat-filters-table .btn {
    margin: 0;
  }

  .logcat-filters-table thead > tr > th,
  .logcat-filters-table tbody > tr > th,
  .logcat-filters-table tfoot > tr > th,
  .logcat-filters-table thead > tr > td,
  .logcat-filters-table tbody > tr > td,
  .logcat-filters-table tfoot > tr > td {
    border-top: none;
  }
}
