div(pane='center')
  .row
    .col-md-6
      div(ng-include='"settings/local/local-settings.jade"')
    .col-md-6
      div(ng-include='"settings/language/language.jade"')
    //.col-md-4
      div(ng-include='"settings/notifications/notifications.jade"')
