[Unit]
Description=Build openstf/stf %I base image for armv7l
After=docker.service
Requires=docker.service
ConditionArchitecture=arm
Requires=stf-armv7l-clone@%i.service
After=stf-armv7l-clone@%i.service

[Service]
Type=oneshot
WorkingDirectory=/home/stf-armv7l/repo-%i
Environment="ARCH=armhf"
ExecStart=/bin/sh docker/armv7l/mkimage-alpine.sh -r v3.5 -i alpine-stf-armv7l-%i:3.5
ExecStart=/usr/bin/sed -i.bak 's/FROM alpine:3.5/FROM alpine-stf-armv7l-%i:3.5/' docker/armv7l/Dockerfile
