// TODO: Some day use eslint-plugin-angular
// https://github.com/Gillespie59/eslint-plugin-angular
{
  "env": {
    "commonjs": true,
    "browser": true,
    "node": false,
    "jasmine": true
  },
  "rules": {
    // TODO: for now lets just mute them
    "comma-style": 0,
    "padded-blocks": 0,
    "no-unused-vars": 0,
    "lines-around-comment": 0,
    "no-use-before-define": 0,
    "brace-style": 0,
    "new-cap": 0,
    "spaced-comment": 0,
    "quote-props": 0,
    "operator-linebreak": 0
  },
  "globals": {
    "angular": 1,
    "inject": 1,
    "waitUrl": 1
  }
}
