/*.row {*/
/*margin: 0 !important;*/
/*}*/

/* Fix Bootstrap */

/* Make tabs smaller */

.row {
    margin: 0 5px;
}

.row + .row {
    margin-top: 5px;
}

.nav-tabs > li > a {
    padding: 5px 10px;
    margin-right: 0;
}

.nav-tabs {
    margin-top: 0;
}

/*@media (max-width: 1200px) {*/
[class*="col-sm"],
[class*="col-md"],
[class*="col-lg"],
[class*="col-xs"] {
    margin-bottom: 10px;
}

/*}*/

.row [class^="col-"] {
    padding: 0 5px;
}

.btn .btn-xs span {
    font-size: 12px;
}

.btn .btn-sm span {
    /*font-size: 12px;*/
}

.btn i+span,
.btn span+span{
    margin-left: 5px;
}

.heading > i + span {
    font-size: 14px;
}

a tab-heading {
    font-size: 13px;
}

a tab-heading i + span {
    margin-left: 5px;
}

table.table .btn {
    margin: 0;
}

/* Widget Container */
/*.widget-container .heading-for-tabs {*/
/*background: rgba(255, 255, 255, 0.94);*/
/*height: 50px;*/
/*padding: 15px 15px;*/
/*color: #007aff;*/
/*font-size: 15px;*/
/*width: 100%;*/
/*font-weight: 400;*/
/*margin: 0;*/
/*height: 44px;*/
/*}*/

/*.widget-container .heading-for-tabs [class^="fa"],*/
/*.widget-container .heading-for-tabs [class*="fa"] {*/
/*margin-right: 5px;*/
/*}*/

/*.widget-container .heading-for-tabs [class^="fa"].pull-right,*/
/*.widget-container .heading-for-tabs [class*="fa"].pull-right {*/
/*margin-right: 0;*/
/*margin-left: 15px;*/
/*opacity: 0.35;*/
/*font-size: 1.1em;*/
/*}*/