.widget-container.fluid-height.stf-device-settings(ng-controller='DeviceSettingsCtrl')
  .heading
    i.fa.fa-gears
    span(translate) Device Settings
  .widget-content.padded
    div {{ sdStatus }}

    button.btn.btn-sm.btn-primary-outline(ng-click='toggleWifi()',
    ng-model='wifiEnabled', btn-checkbox)
      i.fa.fa-signal(ng-show='wifiEnabled', tooltip='{{"Disable WiFi" | translate}}', tooltip-placement='bottom')
      i.fa.fa-signal(ng-hide='wifiEnabled', tooltip='{{"Enable WiFi" | translate}}', tooltip-placement='bottom')
