.widget-container.fluid-height.stf-device-settings(ng-controller='DeviceSettingsCtrl')
  .heading
    stacked-icon(icon='fa-gears', color='color-darkgray')
    span(translate) Device Settings
  .widget-content.padded
    .row
      .col-md-6
        h6(translate) Manner Mode
        .btn-group
          label.btn.btn-sm.btn-primary-outline(ng-model='ringerMode', uib-btn-radio='"SILENT"', uib-tooltip='{{"Silent Mode" | translate}}')
            i.fa.fa-volume-off.fa-fw
          label.btn.btn-sm.btn-primary-outline(ng-model='ringerMode', uib-btn-radio='"VIBRATE"', uib-tooltip='{{"Vibrate Mode" | translate}}')
            i.fa.fa-mobile.fa-fw
          label.btn.btn-sm.btn-primary-outline(ng-model='ringerMode', uib-btn-radio='"NORMAL"', uib-tooltip='{{"Normal Mode" | translate}}')
            i.fa.fa-volume-up.fa-fw

      .col-md-6
        h6(translate) WiFi
        .btn-group
          label.btn.btn-sm.btn-primary-outline(ng-model='wifiEnabled', ng-click='toggleWifi(false)', uib-btn-radio='false', uib-tooltip='{{"Disable WiFi" | translate}}')
            i.fa.fa-power-off.fa-fw
          label.btn.btn-sm.btn-primary-outline(ng-model='wifiEnabled', ng-click='toggleWifi(true)', uib-btn-radio='true', uib-tooltip='{{"Enable WiFi" | translate}}')
            i.fa.fa-wifi.fa-fw

    //.row
      .col-md-12
        h6(translate) Lock Rotation

        button.btn.btn-sm.btn-primary-outline(ng-click='toggleLockRotation()',
        ng-model='lockRotation', uib-btn-checkbox)
          i.fa.fa-repeat.fa-fw(ng-show='lockRotation', uib-tooltip='{{"Unlock Rotation" | translate}}')
          i.fa.fa-repeat.fa-fw(ng-hide='lockRotation', uib-tooltip='{{"Lock Rotation" | translate}}')
