.widget-container.fluid-height.stf-apps(ng-controller='AppsCtrl')
  .heading
    stacked-icon(icon='fa-th-large', color='color-lila')
    span(translate) Apps

  .widget-content.padded
    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openSettings()')
      i.fa.fa-gear.fa-lg.color-darkgray
      .icon-title {{"Settings" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='control.openStore()').color-pink
      i.fa.fa-shopping-cart.fa-lg.color-blue
      .icon-title {{"App Store" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openWiFiSettings()')
      i.fa.fa-wifi.fa-lg.color-skyblue
      .icon-title {{"WiFi" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openManageApps()')
      i.fa.fa-list.fa-lg.color-orange
      .icon-title {{"Manage Apps" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openDeveloperSettings()')
      i.fa.fa-sliders.fa-lg.color-darkgreen
      .icon-title {{"Developer" | translate}}

    // WANDERA CUSTOM - START
    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openBeta()')
      i.fa.fa-gear.fa-lg.color-red
      .icon-title {{"Beta" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openAgent()')
      i.fa.fa-shield.fa-lg.color-skyblue
      .icon-title {{"Agent" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openWandera()')
      i.fa.fa-bug.fa-lg.color-skyblue
      .icon-title {{"Wandera" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openWanderaDev()')
      i.fa.fa-bug.fa-lg.color-skyblue
      .icon-title {{"Wandera Dev" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openWanderaDebug()')
      i.fa.fa-bug.fa-lg.color-skyblue
      .icon-title {{"Wandera Debug" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openGMail()')
      i.fa.fa-envelope.fa-lg.color-red
      .icon-title {{"Gmail" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openChrome()')
      i.fa.fa-chrome.fa-lg.color-red
      .icon-title {{"Chrome" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openSettingActivity("ApnSettingsActivity")')
      i.fa.fa-gear.fa-lg.color-darkgray
      .icon-title {{"APN Settings" | translate}}
    // WANDERA CUSTOM - END
    .clearfix
