.widget-container.fluid-height(ng-controller='LocalSettingsCtrl')
  .heading
    i.fa.fa-save
    span(translate) Local Settings
  .widget-content.padded
    button(ng-click='resetSettings()').btn.btn-danger
      i.fa.fa-trash-o
      span(translate) Reset Settings
