.widget-container.fluid-height(ng-controller='MaintenanceCtrl')
  .heading
    stacked-icon(icon='fa-gears', color='color-darkgray')
    span(translate) Maintenance
    .pull-right
  .widget-content.padded
    button(ng-click='reboot()').btn.btn-sm.btn-danger
      i.fa.fa-refresh
      span(translate) Restart Device
