.heading-for-tabs.tabs
  uib-tabset
    uib-tab(ng-repeat='tab in tabs', active='tab.active', ng-hide='!tabFound(tab)')
      uib-tab-heading
        i.fa(ng-class='tab.icon')
        span {{tab.title | translate }}
      div(ng-if='tab.active')
        div(ng-include='tab.templateUrl')
