div(ng-controller='ControlPanesHotKeysCtrl').fill-height
  div(ng-if='$root.basicMode || $root.standalone').fill-height
    div.fill-height.basic-remote-control
      .remote-control
        div(ng-include='"control-panes/device-control/device-control-standalone.jade"').fill-height

  div(ng-if='!$root.basicMode && !$root.standalone')
    div(fa-pane, pane-id='control-device', pane-anchor='west', pane-size='{{remotePaneSize}}', pane-min='200px', pane-max='100% + 2px', pane-handle='4', pane-no-toggle='false')

      .remote-control
        div(ng-include='"control-panes/device-control/device-control.jade"').fill-height

    div(fa-pane, pane-id='control-bottom-tabs', pane-anchor='south', pane-size='30% + 2px', pane-handle='4').pane-bottom-p
      .widget-container.fluid-height
        nice-tabs(key='ControlBottomTabs', direction='below', tabs='belowTabs', filter='$root.platform')
    div(fa-pane, pane-id='control-top-tabs', pane-anchor='')
      .widget-container.fluid-height
        nice-tabs(key='ControlBottomTabs', tabs='topTabs', filter='$root.platform')
