.row
  .col-md-6
    div(ng-include='"control-panes/dashboard/navigation/navigation.jade"')
  .col-md-6(ng-if='$root.platform == "web"')
    div(ng-include='"control-panes/dashboard/browser/browser.jade"')
  .col-md-6
    div(ng-include='"control-panes/dashboard/input/input.jade"')
  .col-md-6(ng-if='$root.platform == "native"')
    div(ng-include='"control-panes/dashboard/upload/upload.jade"')
  .col-md-6(ng-if='$root.platform == "native"')
    div(ng-include='"control-panes/dashboard/shell/shell.jade"')
