.stf-upload .btn-file {
  position: relative;
  overflow: hidden;
}

.stf-upload .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.stf-upload .drop-area {
  text-align: center;
  color: #b7b7b7;
  padding-top: 10px;
  border: 2px transparent dashed;
  border-radius: 2px;
  cursor: pointer;
}

.stf-upload .dragover {
  border-color: #157afb !important;
}

.stf-upload .upload-status {
  margin-top: 15px;
}

.stf-upload .manifest-text {
  font-size: 10px;
}

.stf-upload .drop-area-text {
  font-size: 14px;
  font-weight: 300;
}
