.stf-screenshots {

}

.stf-screenshots .screenshot-image {
  display: block !important;
}

.stf-screenshots .screenshot-image {
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.stf-screenshots .screenshot-image.ng-image-not-loaded {
  opacity: 0;
}

.stf-screenshots .screenshot-image {
  opacity: 1;
}

.stf-screenshots .zoom-range {
  width: 180px;
  margin-right: 5px;
}
