.screen-error {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: absolute;
  /*pointer-events: none; */
}

.screen-error .nothing-to-show {
  color: #eee;
}

.screen-error .screen-error-message {
  position: relative;
  top: 15%;
  transform: translateY(-15%);
  text-align: center;
}

.screen-error .screen-error-alert {
  padding: 15px;
  margin-bottom: 20px;
  color: #ccc;
}
