div.positioner
  canvas.screen(ng-show='device')
  canvas.hacky-stretcher(width=1, height=1)
div(ng-if='displayError').screen-error
  .screen-error-message
    nothing-to-show(message='{{"No device screen"|translate}}', icon='fa-eye-slash', ng-show='true')

    .well
      .screen-error-alert(ng-show='displayError === "secure"', translate) The current view is marked secure and cannot be viewed remotely.
      .screen-error-alert(ng-show='displayError === "timeout"', translate) Retrieving the device screen has timed out.

    .well
      button(ng-click='retryLoadingScreen()', style='text-align: center;').btn.btn-primary.btn-block
        i.fa.fa-refresh
        span(translate) Retry
input(type='password', tabindex='40', accesskey='C', autocorrect='off', autocapitalize='off', focus-element='$root.screenFocus')
