.login2
  .login-wrapper
    a(href='./')
      img(width='160', height='160', src='/static/bower_components/stf-graphics/logo/exports/STF-512.png', title='STF')

    form(name='signin', novalidate, ng-submit='submit()')
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid') 下記エラーを確認してください
        //span(ng-show='error.$invalid') Check errors below
        span(ng-show='error.$incorrect') ユーザー名とパスワードが間違っています
        //span(ng-show='error.$incorrect') Incorrect login details
        span(ng-show='error.$system') システム・エラー
        //span(ng-show='error.$system') System error

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='username', name='username', required, type='text', placeholder='LDAPユーザ名',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
        .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
          span(ng-show='signin.username.$error.required') LDAPユーザ名を入力してください
          //span(ng-show='signin.username.$error.required') Please enter your LDAP username

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input.form-control(ng-model='password', name='password', required, type='password', placeholder='パスワード',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-password')
        .alert.alert-warning(ng-show='signin.password.$dirty && signin.password.$invalid')
          span パスワードを入力してください
          //span Please enter your password

      input.btn.btn-lg.btn-primary.btn-block(type='submit', value='ログイン')
      //input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Log in')
