.widget-container.fluid-height(ng-controller='InputAdvancedCtrl')
  .heading
    stacked-icon(icon='fa-gear', color='color-pink')
    span(translate) Advanced Input
  .widget-content.padded
    div
      h6(translate) Special Keys
      div.special-keys-buttons
        button(uib-tooltip='{{ "Power" | translate }}', ng-click='press("power")').btn.btn-danger.btn-xs
          i.fa.fa-power-off
        button(uib-tooltip='{{ "Camera" | translate }}', ng-click='press("camera")').btn.btn-primary.btn-xs
          i.fa.fa-camera
        button(uib-tooltip='{{ "Switch Charset" | translate }}', ng-click='press("switch_charset")').btn.btn-primary.btn-info.btn-xs
          i.fa  Aa
        button(uib-tooltip='{{ "Search" | translate }}', ng-click='press("search")').btn.btn-primary.btn-xs
          i.fa.fa-search

        h6(translate) Volume
        .btn-group
          button(uib-tooltip='{{ "Mute" | translate }}', ng-click='press("mute")').btn.btn-primary.btn-xs
            i.fa.fa-volume-off
          button(uib-tooltip='{{ "Volume Down" | translate }}', ng-click='press("volume_down")').btn.btn-primary.btn-xs
            i.fa.fa-volume-down
          button(uib-tooltip='{{ "Volume Up" | translate }}', ng-click='press("volume_up")').btn.btn-primary.btn-xs
            i.fa.fa-volume-up

        h6(translate) Media
        .btn-group
          button(uib-tooltip='{{ "Rewind" | translate }}', ng-click='press("media_rewind")').btn.btn-primary.btn-xs
            i.fa.fa-fast-backward
          button(uib-tooltip='{{ "Previous" | translate }}', ng-click='press("media_previous")').btn.btn-primary.btn-xs
            i.fa.fa-step-backward
          button(uib-tooltip='{{ "Play/Pause" | translate }}', ng-click='press("media_play_pause")').btn.btn-primary.btn-xs
            i.fa.fa-youtube-play
          button(uib-tooltip='{{ "Stop" | translate }}', ng-click='press("media_stop")').btn.btn-primary.btn-xs
            i.fa.fa-stop
          button(uib-tooltip='{{ "Next" | translate }}', ng-click='press("media_next")').btn.btn-primary.btn-xs
            i.fa.fa-step-forward
          button(uib-tooltip='{{ "Fast Forward" | translate }}', ng-click='press("media_fast_forward")').btn.btn-primary.btn-xs
            i.fa.fa-fast-forward
    //h6 D-pad
    //table.special-keys-dpad-buttons
      tr
        td
        td
          button(uib-tooltip='{{ "D-pad Up" | translate }}', ng-click='press("dpad_up")').btn.btn-info.btn-xs
            i.fa.fa-chevron-up
        td
      tr
        td
          button(uib-tooltip='{{ "D-pad Left" | translate }}', ng-click='press("dpad_left")').btn.btn-info.btn-xs
            i.fa.fa-chevron-left
        td
          button(uib-tooltip='{{ "D-pad Center" | translate }}', ng-click='press("dpad_center")').btn.btn-info.btn-xs
            i.fa.fa-circle-o
        td
          button(uib-tooltip='{{ "D-pad Right" | translate }}', ng-click='press("dpad_right")').btn.btn-info.btn-xs
            i.fa.fa-chevron-right
      tr
        td
        td
          button(uib-tooltip='{{ "D-pad Down" | translate }}', ng-click='press("dpad_down")').btn.btn-info.btn-xs
            i.fa.fa-chevron-down
        td
