.widget-container.fluid-height(ng-controller='InputAdvancedCtrl')
  .heading
    i.fa.fa-gear
    span(translate) Advanced Input
  .widget-content.padded
    div
      h6(translate) Special Keys
      div.special-keys-buttons
        button(tooltip='{{ "Power" | translate }}', ng-click='press("power")').btn.btn-danger
          i.fa.fa-power-off
        button(tooltip='{{ "Camera" | translate }}', ng-click='press("camera")').btn.btn-primary
          i.fa.fa-camera
        button(tooltip='{{ "Switch Charset" | translate }}', ng-click='press("switch_charset")').btn.btn-primary.btn-info
          i.fa  Aa
        button(tooltip='{{ "Search" | translate }}', ng-click='press("search")').btn.btn-primary
          i.fa.fa-search

        h6(translate) Volume
        .btn-group
          button(tooltip='{{ "Mute" | translate }}', ng-click='press("mute")').btn.btn-primary.btn-xs
            i.fa.fa-volume-off
          button(tooltip='{{ "Volume Down" | translate }}', ng-click='press("volume_down")').btn.btn-primary.btn-xs
            i.fa.fa-volume-down
          button(tooltip='{{ "Volume Up" | translate }}', ng-click='press("volume_up")').btn.btn-primary.btn-xs
            i.fa.fa-volume-up

        h6(translate) Media
        .btn-group
          button(tooltip='{{ "Rewind" | translate }}', ng-click='press("media_rewind")').btn.btn-primary.btn-xs
            i.fa.fa-fast-backward
          button(tooltip='{{ "Previous" | translate }}', ng-click='press("media_previous")').btn.btn-primary.btn-xs
            i.fa.fa-step-backward
          button(tooltip='{{ "Play/Pause" | translate }}', ng-click='press("media_play_pause")').btn.btn-primary.btn-xs
            i.fa.fa-youtube-play
          button(tooltip='{{ "Stop" | translate }}', ng-click='press("media_stop")').btn.btn-primary.btn-xs
            i.fa.fa-stop
          button(tooltip='{{ "Next" | translate }}', ng-click='press("media_next")').btn.btn-primary.btn-xs
            i.fa.fa-step-forward
          button(tooltip='{{ "Fast Forward" | translate }}', ng-click='press("media_fast_forward")').btn.btn-primary.btn-xs
            i.fa.fa-fast-forward
        //h6 Physical Media
        //.btn-group
          button(tooltip='{{ "Play" | translate }}', ng-click='press("KEYCODE_MEDIA_PLAY")').btn.btn-primary.btn-xs
            i.fa.fa-play
          button(tooltip='{{ "Pause" | translate }}', ng-click='press("KEYCODE_MEDIA_PAUSE")').btn.btn-primary.btn-xs
            i.fa.fa-pause
          button(tooltip='{{ "Close" | translate }}', ng-click='press("KEYCODE_MEDIA_CLOSE")').btn.btn-primary.btn-xs
            i.fa.fa-sign-out
          button(tooltip='{{ "Eject" | translate }}', ng-click='press("KEYCODE_MEDIA_EJECT")').btn.btn-primary.btn-xs
            i.fa.fa-eject
          button(tooltip='{{ "Record" | translate }}', ng-click='press("KEYCODE_MEDIA_RECORD")').btn.btn-primary.btn-xs
            i.fa.fa-circle
      //h6(translate) Other Keys
      //div.special-other-keys-buttons
        button(ng-click='press("KEYCODE_APP_SWITCH")').btn.btn-default.btn-xs
          i.fa  App Switch
        button(ng-click='press("KEYCODE_MANNER_MODE")').btn.btn-default.btn-xs
          i.fa  Manner Mode
        button(ng-click='press("KEYCODE_3D_MODE")').btn.btn-default.btn-xs
          i.fa  3D Mode
        button(ng-click='press("KEYCODE_CONTACTS")').btn.btn-default.btn-xs
          i.fa  Contacts
        button(ng-click='press("KEYCODE_CALENDAR")').btn.btn-default.btn-xs
          i.fa  Calendar
        button(ng-click='press("KEYCODE_MUSIC")').btn.btn-default.btn-xs
          i.fa  Music
        button(ng-click='press("KEYCODE_CALCULATOR")').btn.btn-default.btn-xs
          i.fa  Calculator
        button(ng-click='press("KEYCODE_ZENKAKU_HANKAKU")').btn.btn-default.btn-xs
          i.fa  全角／半角
        button(ng-click='press("KEYCODE_EISU")').btn.btn-default.btn-xs
          i.fa  英数
        button(ng-click='press("KEYCODE_MUHENKAN")').btn.btn-default.btn-xs
          i.fa  無変換
        button(ng-click='press("KEYCODE_HENKAN")').btn.btn-default.btn-xs
          i.fa  変換
        button(ng-click='press("KEYCODE_KATAKANA_HIRAGANA")').btn.btn-default.btn-xs
          i.fa  カタかナ／ひらがな
        button(ng-click='press("KEYCODE_YEN")').btn.btn-default.btn-xs
          i.fa  ¥
        button(ng-click='press("KEYCODE_RO")').btn.btn-default.btn-xs
          i.fa  RO
        button(ng-click='press("KEYCODE_KANA")').btn.btn-default.btn-xs
          i.fa  かな
        button(ng-click='press("KEYCODE_ASSIST")').btn.btn-default.btn-xs
          i.fa  Assist
    //button(tooltip='{{ "Switch Charset" | translate }}', ng-click='press(80)').btn.btn-primary
        i.fa  TST
    //button(ng-click='press("KEYCODE_CLEAR")').btn.btn-primary.btn-sm
        i.fa  Clear
    h6 D-pad
    table.special-keys-dpad-buttons
      tr
        td
        td
          button(tooltip='{{ "D-pad Up" | translate }}', ng-click='press("dpad_up")').btn.btn-info.btn-xs
            i.fa.fa-chevron-up
        td
      tr
        td
          button(tooltip='{{ "D-pad Left" | translate }}', ng-click='press("dpad_left")').btn.btn-info.btn-xs
            i.fa.fa-chevron-left
        td
          button(tooltip='{{ "D-pad Center" | translate }}', ng-click='press("dpad_center")').btn.btn-info.btn-xs
            i.fa.fa-circle-o
        td
          button(tooltip='{{ "D-pad Right" | translate }}', ng-click='press("dpad_right")').btn.btn-info.btn-xs
            i.fa.fa-chevron-right
      tr
        td
        td
          button(tooltip='{{ "D-pad Down" | translate }}', ng-click='press("dpad_down")').btn.btn-info.btn-xs
            i.fa.fa-chevron-down
        td
