.device-list {
  color: deepskyblue;
}

.stf-device-list .filtering-buttons {
  margin-top: -32px;
}

.stf-device-list .clear-filtering-buttons {
  margin-top: 0px;
}

.stf-device-list .device-not-usable {
  /*background: rgb(245, 245, 245);*/
  opacity: 0.8;
}

.stf-device-list .device-not-usable .btn {
  cursor: not-allowed;
}

.stf-device-list .devices-not-available {
  background: #f6f6f6;
}

.stf-device-list .line {
  height: 1px;
  width: 100%;
  /*padding: 10px 15px 12px 2px;*/
  border-bottom: 1px solid #e2e2e2;
  margin: 0;
}

.stf-device-list .device-status {
  margin-top: 4px;
}

.stf-device-list .device-search {
  width: 150px;
}

ul.devices-icon-view {
  margin: 0;
  display: inline-block;
  list-style-type: none;
  /*font-weight: 300;*/
  font-family: 'HelveticaNeue-UltraLight', Helvetica, Arial, sans-serif;
}

ul.devices-icon-view li {
  width: 126px;
  height: 170px;
  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  float: left;
  clear: none;
  margin: 6px;
  text-align: center;
}

ul.devices-icon-view li:hover {
  background-color: #fbfbfb;

}

ul.devices-icon-view .device-photo-small {
  margin-top: 8px;
  margin-bottom: 10px;
}

ul.devices-icon-view .device-photo-small img {
  width: auto;
  height: 90px;
  /*box-shadow: 0 10px 5px rgba(255, 255, 255, 1);*/
}

ul.devices-icon-view .device-name-bigtext {
  display: inline-block;
  width: 80%;
}

ul.devices-icon-view .device-name {
  color: #3FA9F5;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ul.devices-icon-view .device-product {
  font-size: 16px;
  color: #555;
}

ul.devices-icon-view .device-status-text {

}

img.device-icon-smallest {
  width: 12px;
  margin-right: 6px;
}

ul.devices-icon-view .device-is-busy {
  /*box-shadow: inset 0 0 10px #e6e6e6;*/
  /*background: #e6e6e6 !important;*/
  opacity: 0.7;
  cursor: not-allowed;
}

ul.devices-icon-view .device-is-busy .btn {
  cursor: not-allowed;
}

ul.devices-icon-view .device-is-busy .device-photo-small img {
  opacity: 0.5;
}

.stf-device-list .device-small-image {
  margin-right: 8px;
}

.stf-device-list .device-small-image img {
  height: 20px;
  min-width: 10px;
}

.device-list-active-tabs.ng-enter {
  -webkit-transition: 250ms;
  transition: 250ms;
  /*margin-top: -100%;*/
  opacity: 0;
}

.device-list-active-tabs.ng-enter-active {
  /*margin-top: 0;*/
  opacity: 1;
}

.device-list-details-content table {
  white-space: nowrap;
}

.device-list-details-content .device-list-product,
.device-list-details-content .device-list-carrier {
  white-space: normal;
}

.device-list-details-content .progress {
  margin-bottom: 0 !important;
  height: 17px !important;
}

.stf-stats-container .fa {
  font-size: 0.8em;
}

.stf-stats-container.ng-enter {
  /*-webkit-transition: 2000ms ease 1s;*/
  /*transition: 2000ms ease 1s;*/
  -webkit-transition: 550ms ease 0ms;
  transition: 550ms ease 0ms;
  opacity: 0;
}

.stf-stats-container.ng-enter-active {
  opacity: 1;
}

.device-list-details-content .stf-device-details-customize {
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}
