div.stf-device-list
  .row.stf-stats-container
    .col-md-12
      device-list-stats(tracker='tracker')

  .row
    .col-md-12
      .widget-container.fluid-height
        .widget-content.padded
          tabset.overflow-auto.device-list-active-tabs(ng-if='activeTabs')
            tab(active='activeTabs.icons')
              tab-heading
                i.fa.fa-th-large
                span(translate) Devices
              div.device-list-devices-content(ng-if='activeTabs.icons')
                .filtering-buttons
                  input(type='search',results='5', autosave='deviceSearch'
                    name='deviceSearch', ng-model='deviceSearch', ng-change='deviceSearchChanged()',
                    autocorrect='off', autocapitalize='off', spellcheck='false').form-control.input-sm.device-search.pull-right
                .clear-filtering-buttons

                device-list-icons(tracker='tracker', sort='sort')

            tab(active='activeTabs.details')
              tab-heading
                i.fa.fa-list
                span(translate) Details
              div.device-list-details-content(ng-if='activeTabs.details')
                .filtering-buttons
                  input(type='search',results='5', autosave='deviceSearch'
                    name='deviceSearch', ng-model='deviceSearch', ng-change='deviceSearchChanged()',
                    autocorrect='off', autocapitalize='off', spellcheck='false').form-control.input-sm.device-search.pull-right

                  span.pull-right
                    .btn-group(dropdown).pull-right
                      button.btn.btn-sm.btn-primary-outline.dropdown-toggle
                        i.fa.fa-table
                        span {{"Customize"|translate}}

                      ul.dropdown-menu(role='menu', data-toggle='dropdown').pointer.unselectable.stf-device-details-customize
                        li(ng-repeat='column in columns track by column.name', ng-click='$event.stopPropagation()')
                          label.checkbox.pointer
                            input(type='checkbox', ng-model='column.selected')
                            span(ng-bind='column.title | translate')



                device-list-details(tracker='tracker', columns='columns', sort='sort')
