h2 Devices list

ul.device-list
  li(ng-repeat='device in tracker.devices track by device.serial')
    span {{ device.serial }} {{ device.present ? 'present' : 'absent' }} {{ device.owner.email }}
      a(href='#!/devices/{{ device.serial }}') Linky
    button(ng-click="invite(device)") invite
    button(ng-click="kick(device)") kick

div(ng-controller='ShellCommandCtrl')
  input(type=text, ng-model='command')
  button(ng-click='run(command)') run
  table
    tr(ng-repeat='result in results track by result.device.serial')
      td {{ result.device.serial }}
      td {{ result.data }}
