.device-list {
  color: deepskyblue;
}

.stf-device-list .filtering-buttons {
  /*margin-top: -32px;*/

  position: absolute;
  top: 10px;
  right: 20px;
}

.stf-device-list .device-not-usable {
  /*background: rgb(245, 245, 245);*/
  opacity: 0.8;
}

.stf-device-list .device-not-usable .btn {
  cursor: not-allowed;
}

.stf-device-list .devices-not-available {
  background: #f6f6f6;
}

.stf-device-list .line {
  height: 1px;
  width: 100%;
  /*padding: 10px 15px 12px 2px;*/
  border-bottom: 1px solid #e2e2e2;
  margin: 0;
}

.stf-device-list .device-status {
  margin-top: 4px;
}

img.device-icon-smallest {
  width: 12px;
  margin-right: 6px;
}

.stf-device-list .device-small-image {
  margin-right: 8px;
  width: 13px;
  display: inline-block;
}

.stf-device-list .device-small-image img {
  height: 20px;
  min-width: 10px;
  max-width: 100%;
}

.device-list-active-tabs.ng-enter {
  -webkit-transition: 250ms;
  transition: 250ms;
  /*margin-top: -100%;*/
  opacity: 0;
}

.device-list-active-tabs.ng-enter-active {
  /*margin-top: 0;*/
  opacity: 1;
}

.stf-device-list .device-product-name-unusable {
  color: inherit;
}

.stf-device-list .device-product-name-using {
  border-bottom: 2px solid; /* leaving out the color inherits text color */
}
