div.stf-device-list
  .row.stf-stats-container(ng-show='tracker.devices.length')
    .col-md-12
      .widget-container.stats-container
        .col-md-3
          .number
            .icon.fa.fa-globe.visitors
            span(ng-bind='tracker.devices.length')
          .text(translate) Total devices
        .col-md-3
          .number
            .icon.fa.fa-check.visitors
            span(ng-bind='(tracker.devices | filter:{usable:true}).length')
          .text(translate) Usable devices
        .col-md-3
          .number
            .icon.fa.fa-users.visitors
            span(ng-bind='(tracker.devices | filter:{state:"busy"}).length')
          .text(translate) Busy devices
        .col-md-3
          .number
            .icon.fa.fa-user.visitors
            span(ng-bind='(tracker.devices | filter:{using:true}).length')
          //.text(translate) Using
          .text(ng-bind='currentUser.name')

  .row
    .col-md-12
      .widget-container.fluid-height
        .widget-content.padded
          tabset.overflow-auto.device-list-active-tabs
            tab(active='false')
              tab-heading
                i.fa.fa-th-large
                span(translate) Devices
              div.device-list-devices-content
                nothing-to-show(message='{{"No devices connected"|translate}}', icon='fa-sitemap', ng-show='!tracker.devices.length')

                .filtering-buttons.pull-right
                  input(type='search',results='5', autosave='deviceSearch'
                  name='deviceSearch', ng-model='deviceSearch', ng-change='deviceSearchChanged()',
                  autocorrect='off', autocapitalize='off', spellcheck='false').xform-control.device-search

                  //.input-group
                    input(type='text').form-control
                    //span.input-group-btn
                      button.btn.btn-primary-outline(type='button') Search
                  //clear-button(ng-click="tableParams.sorting({}); tableParams.filter({})")
                .clear-filtering-buttons

                device-list-icon(tracker='tracker', columns='columns', sort='sort')

            tab(active='true')
              tab-heading
                i.fa.fa-list
                span(translate) Details
              div.device-list-details-content
                nothing-to-show(message='{{"No devices connected"|translate}}', icon='fa-sitemap', ng-show='!tracker.devices.length')

                .filtering-buttons
                  div(ng-show='ngTableEnabled')
                    clear-button(ng-click="clearSorting()")
                    filter-button(ng-model='filterEnabled')
                    .button-spacer.pull-right

                    button(btn-checkbox, ng-model='showAll').btn.btn-sm.btn-primary-outline.pull-right
                      i.fa.fa-list-alt
                      span {{"Show All"|translate}}

                  span
                    .btn-group(dropdown).pull-right
                      button.btn.btn-sm.btn-primary-outline.dropdown-toggle
                        i.fa.fa-list-alt
                        span {{"Customize"|translate}}

                      ul.dropdown-menu(role='menu', data-toggle='dropdown').pointer.unselectable.stf-device-details-customize
                        li(ng-repeat='column in columns track by column.name', ng-click='$event.stopPropagation()')
                          label.checkbox.pointer
                            input(type='checkbox', ng-model='column.selected')
                            span(ng-bind='column.title | translate')

                device-list-details(tracker='tracker', columns='columns', sort='sort')
