//
  Copyright © 2019 code initially contributed by Orange SA, authors: Denis Barbaron - Licensed under the Apache license 2.0
//

.widget-container.fluid-height(ng-controller='EmailAddressSeparatorCtrl')
  .heading
    i.fa.fa-envelope-o
    span(translate) Email address separator 
  .widget-content.padded
    .form-horizontal
      .form-group
        .input-group
          .input-group-addon.input-sm
            i.fa.fa-envelope-o(
            uib-tooltip="{{'Define your own Email address separator' | translate}}" tooltip-placement='auto top-right' tooltip-popup-delay='500')
          input.form-control.input-sm(size='2' type='text' placeholder=',' ng-model='emailAddressSeparator')

