doctype html
html
  head
    meta(charset='utf-8')
    title STF
  body(ng-cloak)
    div(ng-view)
    //script(src='/static/lib/requirejs/require.js', data-main='static/scripts/main.js')
    script(src='/static/build/bundle.js')
