doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-title', content='STF')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(href='/static/bower_components/stf-graphics/logo/exports/STF-128.png', rel='apple-touch-icon')

    title STF
  body(ng-app='app', ng-cloak).bg-1.fill-height
    div(ng-controller='LayoutCtrl', basic-mode, landscape).fill-height
      .pane-top(pane).fill-height
        .pane-top-bar(pane, pane-anchor='north', pane-size='44px', pane-min='44px', pane-max='44px', pane-handle='')
          div(ng-include='"menu.jade"')

        .pane-center(pane, pane-anchor='center').fill-height
          socket-state
          div(growl)
          div(ng-view).fill-height

    script var APP = !{JSON.stringify(APP)}
    script(src='/static/build/bundle.js')
    script(src='/static/bower_components/stf-analytics/analytics.js')
