doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    title STF
  body(ng-app='app', ng-cloak).bg-1.fill-height
    div(ng-controller='LayoutCtrl', basic-mode).fill-height
      div(pane).fill-height
        .pane-top-bar(pane, pane-anchor='north', pane-size='46px', pane-min='46px', pane-max='46px', pane-handle='')
          div(ng-include='"menu.jade"')
          socket-state
          div(growl)

        div(pane, pane-anchor='center').fill-height
          div(ng-view).fill-height

    script(src='/static/build/bundle.js')
