.row.stf-info(ng-controller='InfoCtrl')
  .col-md-3
    .widget-container.fluid-height
      .heading
        i.fa.fa-bolt
        span(translate) Battery
      .widget-content.padded-small
        table.table.table-condensed.table-hover.table-infocard
          tbody
            tr
              td(translate) Health
              td {{device.battery.health | batteryHealth}}
            tr
              td Power Source
              td {{device.battery.source | batterySource}}
            tr
              td Status
              td {{device.battery.status | batteryStatus}}
            tr
              td Level
              td
                progressbar(value='device.battery.level', animate='false', max='device.battery.scale', type='success')
                  span {{ device.battery.level / device.battery.scale * 100 }}%
            tr
              td Temperature
              td {{device.battery.temp}} °C
            tr
              td Voltage
              td {{device.battery.voltage}} v

  .col-md-3
    .widget-container.fluid-height
      .heading
        i.fa.fa-tablet
        span(translate) Display
      .widget-content.padded-small
        table.table.table-condensed.table-hover.table-infocard
          tbody
            tr
              td(translate) Density
              td {{device.display.density | displayDensity}}
            tr
              td(translate) FPS
              td {{device.display.fps}}
            tr
              td Width
              td {{device.display.width}} px
            tr
              td Height
              td {{device.display.height}} px
            tr
              td ID
              td {{device.display.id}}
            tr
              td Orientation
              td {{device.display.orientation}}°
            tr
              td Encrypted
              td {{device.display.secure | humanizedBool}}
            tr
              td X DPI
              td {{device.display.xdpi}}
            tr
              td Y DPI
              td {{device.display.ydpi}}

  .col-md-3
    .widget-container.fluid-height
      .heading
        i.fa.fa-signal
        span(translate) Network
      .widget-content.padded-small
        table.table.table-condensed.table-hover.table-infocard
          tbody
            tr
              td(translate) Connected
              td {{device.network.connected | humanizedBool}}
            tr
              td(translate) Airplane Mode
              td {{device.airplaneMode | humanizedBool}}
            tr
              td(translate) Using Fallback
              td {{device.network.failover | humanizedBool}}
            tr
              td Roaming
              td {{device.network.roaming | humanizedBool}}
            tr
              td Type
              td {{device.network.type | networkType}}
            tr
              td Sub Type
              td {{device.network.subtype | networkSubType}}

  .col-md-3
    .widget-container.fluid-height
      .heading
        i.fa.fa-credit-card
        span(translate) SIM
      .widget-content.padded-small
        table.table.table-condensed.table-hover.table-infocard
          tbody
            tr
              td(translate) Carrier
              td {{device.operator}}
            tr
              td(translate) Network
              td {{device.phone.network}}
            tr
              td(translate) Number
              td {{device.phone.phoneNumber}}
            tr
              td(translate) IMEI
              td {{device.phone.imei}}
            tr
              td(translate) ICCID
              td
                small {{device.phone.iccid}}


  .col-md-3
    .widget-container.fluid-height
      .heading
        i.fa.fa-phone
        span(translate) Hardware
      .widget-content.padded-small
        table.table.table-condensed.table-hover.table-infocard
          tbody
            tr
              td(translate) Maker
              td {{device.manufacturer}}
            tr
              td(translate) Name
              td {{device.name}}
            tr
              td(translate) Model
              td {{device.model}}
            tr
              td(translate) Serial
              td {{device.serial}}
            tr
              td(translate) Released
              td {{device.releasedAt | date:longDate}}

  .col-md-3
    .widget-container.fluid-height
      .heading
        i.fa.fa-mobile
        span(translate) Platform
      .widget-content.padded-small
        table.table.table-condensed.table-hover.table-infocard
          tbody
            tr
              td(translate) OS
              td {{device.platform}}
            tr
              td(translate) Version
              td {{device.version}}
            tr
              td(translate) SDK
              td {{device.sdk}}
            tr
              td(translate) ABI
              td {{device.abi}}
