.widget-container.fluid-height.stf-shell(ng-controller='ShellCtrl')
  .heading
    i.fa.fa-terminal
    span(translate) Shell
    clear-button(ng-click='clear()', ng-disabled='!command && !data').btn-xs

    a(ng-href='/#!/docs/ja/remote-shell').btn.btn-xs.btn-primary-outline.pull-right.transparent-border
      i.fa.fa-book
  .widget-content.padded

    iframe(src="about:blank", name="_autofill2", style="display:none")
    form(method="post", action="about:blank", target="_autofill2")
      .input-group.form-inline
        input(type=text, ng-model='command', ng-enter='run(command)', text-focus-select,
          //autocapitalize='off', spellcheck='false',
          tabindex='30', accesskey='S', autocomplete='on').form-control.shell-input
        span.input-group-btn
          // , tooltip='{{"Run Command"|translate}}'
          button.btn.btn-primary-outline(ng-click='run(command)', ng-disabled='!command')
            //, tooltip='{{ "Run command" | translate }}')
            i.fa.fa-play
    pre.shell-results(ng-show='data') {{data}}
    pre.shell-results(ng-show='result.settled && !data').shell-results-empty No output


   // table
      tr(ng-repeat='result in results track by result.device.serial')
        td {{ result.device.serial }}
        td {{ result.data }}
