.widget-container.fluid-height.stf-shell(ng-controller='ShellCtrl')
  .heading
    i.fa.fa-terminal
    span(translate) Shell
    clear-button(ng-click='clear()', ng-disabled='!command && !data').btn-xs
    a(ng-href='{{referenceUrl}}', target='_href').btn.btn-xs.btn-primary-outline.pull-right
      i.fa.fa-book
      span(translate) Reference
  .widget-content.padded

    .input-group.form-inline
      input(type=text, ng-model='command', ng-enter='run(command)').form-control.shell-input
      span.input-group-btn
        // , tooltip='{{"Run Command"|translate}}'
        button.btn.btn-primary-outline(ng-click='run(command)', ng-disabled='!command')
          //, tooltip='{{ "Run command" | translate }}')
          i.fa.fa-play
    pre.shell-results(ng-show='data') {{data}}
    pre.shell-results(ng-show='result.settled && !data').shell-results-empty No output


   // table
      tr(ng-repeat='result in results track by result.device.serial')
        td {{ result.device.serial }}
        td {{ result.data }}
