.widget-container.fluid-height.stf-port-forwarding(ng-controller='PortForwardingCtrl')
  .heading
    span(ng-click='isCollapsed = !isCollapsed')
      i.fa.fa-random
      span(translate).pointer Port forwarding

  .widget-content.padded(collapse='isCollapsed')
    table
      thead
        tr
          th(colspan='2')
            span(translate) Device
          th(colspan='3')
            span(translate) Host
      tbody
        tr(ng-repeat='forward in reversePortForwards track by forward.devicePort')
          td
            div.input-group
              span.input-group-addon
                input(type='checkbox', ng-model='forward.enabled')
              input.form-control(type='number', min='0', ng-model='forward.devicePort', ng-model-options="{ updateOn: 'blur' }", placeholder='{{"Port"|translate}}')
          td
            i.fa.fa-arrow-right.fa-fw
          td
            input.form-control(type='text', ng-model='forward.targetHost', ng-model-options="{ updateOn: 'blur' }", placeholder='{{"Hostname"|translate}}')
          td
            span :
          td
            input.form-control(type='number', min='0', ng-model='forward.targetPort', ng-model-options="{ updateOn: 'blur' }", placeholder='{{"Port"|translate}}')
