.stf-port-forwarding {

}

.stf-port-forwarding .padded {
  padding-top: 0;
}

.stf-port-forwarding table {
  white-space: nowrap;
}

.stf-port-forwarding .port-forwarding-image {
  text-align: center;
  color: #b7b7b7;
  padding-bottom: 4px;
}

.stf-port-forwarding .port-forwarding-image .fa-arrow-right {
  vertical-align: 38%;
  margin-right: 6px;
}
