.widget-container.fluid-height.stf-keys.stf-adb-keys(ng-controller='AdbKeysCtrl')
  .heading
    i.fa.fa-android
    span(translate) ADB Keys

    button.btn.pull-right.btn-sm(
    ng-click='showAdd = !showAdd',
    ng-class='{ "btn-primary-outline": !showAdd, "btn-primary": showAdd }')
      i.fa.fa-plus.fa-fw

    a(ng-href='/#!/docs/ADB-Keys').pull-right.btn.btn-sm
      i.fa.fa-question-circle(uib-tooltip='{{"More about ADB Keys" | translate}}', tooltip-placement='left')

  .widget-content.padded

    nothing-to-show(icon='fa-android', message='{{"No ADB keys" | translate}}',
    ng-if='!adbKeys.length && !showAdd')

    add-adb-key(show-clipboard='true', show-add='showAdd')

    ul.list-group.key-list
      li.list-group-item(ng-repeat='key in adbKeys').animate-repeat
        a
          i.fa.fa-key.fa-2x.fa-fw.key-list-icon
          .key-list-details.selectable
            .key-list-title(ng-bind='key.title')
            .key-list-fingerprint(ng-bind='key.fingerprint')

          button.btn.btn-xs.btn-danger-outline.pull-right.key-list-remove(ng-click='removeKey(key)')
            i.fa.fa-trash-o
            span(translate) Remove
