doctype html
html
  head
    title STF
    meta(charset='utf-8')
    include partials/styles
  body(ng-cloak)
    div(ng-view)
    script(src='/static/lib/requirejs/require.js', data-main='static/scripts/main.js')
