.stf-upload .btn-file {
  position: relative;
  overflow: hidden;
}

.stf-upload .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.stf-upload .drop-area {
  text-align: center;
  color: #b7b7b7;
  padding: 10px;
  border: 2px #e8e8e8 dashed;
  border-radius: 2px;
  /*background-color: #f6f6f6;*/
  cursor: pointer;
}

.stf-upload .dragover {
  border-color: #157afb !important;
}

.stf-upload .upload-status {
  margin-top: 15px;
}

.stf-upload .manifest-text {
  font-size: 10px;
}

.stf-upload .drop-area-text {
  /*border-top: 1px solid #e2e2e2;*/
  /*opacity: 0;*/
  font-size: 16px;
  /*transition: opacity 0.25s ease-in-out;*/
}

.stf-upload .drop-area:hover .drop-area-text {
  /*opacity: 1;*/
}
