.stf-upload .btn-file {
  position: relative;
  overflow: hidden;
}

.stf-upload .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.stf-upload .drop-area {
  text-align: center;
  color: #b7b7b7;

  /*height: 100px;*/
  padding: 10px;
  border: 3px #ccc dashed;
  /*color: #aaa;*/
  border-radius: 3px;
  background-color: #f6f6f6;
  cursor: pointer;
}

.stf-upload .drop-area .drop-area-text {
  /*min-height: 130px;*/
  font-size: 18px;
}

.stf-upload .dragover {
  /*color: #157afb !important;*/
  border-color: #157afb !important;
}

.stf-upload .upload-status {
  margin-top: 15px;
}