.stf-upload .btn-file {
  position: relative;
  overflow: hidden;
}

.stf-upload .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.stf-upload .drop-area {

}