.widget-container.fluid-height.stf-upload(ng-controller='UploadCtrl')
  .heading
    i.fa.fa-upload
    span(translate) Upload
    clear-button(ng-click='clear()', ng-disabled='!installation').btn-xs
  .widget-content.padded
    div(ng-if='installation')
      strong {{ installation.lastData }}
      progressbar(max='100', value='installation.progress', ng-if='!installation.settled') {{installation.progress}}%
