.stf-navigation .browser-icon {
  width: 18px;
  height: auto;
}

.stf-navigation .url-input-container {
  position: relative;
  padding: 0;
  margin: 0;
}

.stf-navigation .url-input-container input {
  margin: 0;
  padding-left: 30px;
  z-index: 0;
}

.stf-navigation .url-input-container img {
  position: absolute;
  bottom: 14px;
  left: 9px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  border: none;
  margin:0;
}

.stf-navigation .browser-buttons {
  min-width: 44px;
  min-height: 35px;
}
