.widget-container.fluid-height.stf-clipboard(ng-controller='ClipboardCtrl')
  .heading
    stacked-icon(icon='fa-copy', color='color-brown')
    span(translate) Clipboard
  .widget-content.padded
    .input-group.form-inline
      textarea(rows='1', ng-model='control.clipboardContent', msd-elastic, text-focus-select,
      tabindex='20').form-control.clipboard-textarea
      span.input-group-btn
        button.btn.btn-primary-outline(ng-click='control.getClipboardContent()', uib-tooltip='{{ "Get clipboard contents" | translate }}')
          i.fa.fa-refresh
