//.stf-fs(ng-controller='ExplorerCtrl')
.widget-container.fluid-height(ng-controller='ExplorerCtrl').stf-explorer
  .heading
    //.row: .col-md-6

    span /{{paths.join("/")}}
    button.btn.btn-xm.btn-primary-outline(ng-click='dirJump()')
      span(translate) Back

    form.input-group.form-inline(ng-submit='dirEnter(search)')
      input(type='text', ng-model='search', placeholder="Dir or file ...").form-control
      span.input-group-btn
        button.btn.btn-default.btn-primary-outline(type='submit')
          i.fa.fa-search
          span(translate) Go

  .widget-content.padded.selectable

    table.table.table-hover.dataTable.ng-table
      thead
        tr
          th
            div(translate) Name
          th
            div(translate) Size
          th
            div(translate) Date
          th
            div(translate) Permissions
      tbody
        tr.header(ng-repeat='f in files | filter:search | orderBy: ["-mode|fileIsDir", "+name"]')
          td
            button.btn.btn-sm.btn-primary-outline(
            ng-click='dirEnter(f.name)', ng-show='f.mode|fileIsDir')
              span
                i.fa.fa-folder-open
              span {{f.name}}

            button.btn.btn-sm.btn-primary-outline(
            ng-click='getFile(f.name)', ng-hide='f.mode|fileIsDir')
              span
                i.fa.fa-file-o
              span {{f.name}}
          td
            span(ng-show='f.mode|fileIsDir') -
            span(ng-hide='f.mode|fileIsDir') {{f.size|formatFileSize}}
          td
            span {{f.mtime|formatFileDate}}
          td
            i {{f.mode|formatPermissionMode}}
