.row
  //.col-md-12
    div(ng-include='"control-panes/advanced/run-js/run-js.pug"')
  .col-md-6
    div(ng-include='"control-panes/advanced/input/input.pug"')
  .col-md-6
    div(ng-include='"control-panes/advanced/port-forwarding/port-forwarding.pug"')
.row
  //.col-md-6
  //  div(ng-include='"control-panes/advanced/vnc/vnc.pug"')

  .col-md-6
    div(ng-include='"control-panes/advanced/maintenance/maintenance.pug"')
