.row
  //.col-md-12
    div(ng-include='"control-panes/advanced/run-js/run-js.jade"')
  .col-md-6
    div(ng-include='"control-panes/advanced/input/input.jade"')
  .col-md-6
    div(ng-include='"control-panes/advanced/port-forwarding/port-forwarding.jade"')
.row
  //.col-md-6
  //  div(ng-include='"control-panes/advanced/vnc/vnc.jade"')

  .col-md-6
    div(ng-include='"control-panes/advanced/maintenance/maintenance.jade"')
