.widget-container.scrollableX.messages.stf-activity(ng-controller='ActivityCtrl')
  .widget-content.padded

    ul(ng-repeat='line in timeline.lines')
      li
        h3 {{line.title}}
        p {{line.message}}


    ul.timeline.activity-list
      li.active
        .timeline-time
          strong Oct 3
          span 4:53 PM
        .timeline-icon
          .bg-primary
            i.fa.fa-exclamation-circle.fa-1x
        .timeline-content
          h2 WebSocket Disconnected
          p Socket connection was lost, try again reloading the page.
          div
            refresh-page

