.widget-container.scrollableX.list.rating-widget.stf-activity(ng-controller='ActivityCtrl')
  //.heading
    i.fa
    span(translate) Activity
  .widget-content.padded
    ul.activity-list
      li
        .reviewer-info
          i.fa.fa-exclamation-triangle.fa-2x.activity-icon
          //img(width='30', height='30', src='images/avatar-male.jpg')
          h5.activity-title WebSocket Disconnected
          em.activity-date.pull-right 2014/04/30 18:33:22
        .review-text
          p.pull-left Socket connection was lost, try again reloading the page.
          .activity-buttons.pull-right
            refresh-page
          .clearfix
      li
        .reviewer-info
          i.fa.fa-mobile.fa-2x.activity-icon
          h5.activity-title 'Nexus 5' Disconnected
          em.activity-date.pull-right 2014/04/30 15:33:22
        .review-text
          p.pull-left Device was disconnected because it timed out.
          .activity-buttons.pull-right
            button.btn.btn-sm.btn-primary-outline(ng-click='')
              i.fa.fa-refresh
              span(translate) Reconnect device

    .clearfix

