.navbar.stf-menu(ng-controller='MenuCtrl')
  .container-fluid.stf-top-bar
    a.stf-logo(ng-href="/#!/devices") STF
    ul.nav.stf-nav(nav-menu='current').unselectable
      li(ng-cloak)
        a(ng-href='/#!/control/{{lastUsedDevice}}', ng-show='lastUsedDevice')
          span.fa.fa-mobile
          span(ng-if='!$root.basicMode', translate) Control
        a(ng-href='/#!/devices', accesskey='1')
          span.fa.fa-sitemap
          span(ng-if='!$root.basicMode', translate) Devices
        a(ng-href='/#!/settings')
          span.fa.fa-gears
          span(ng-if='!$root.basicMode', translate) Settings

    //ul.nav.stf-nav.pull-right(nav-menu='current').unselectable
    //  div(style="vertical-align: middle;")
    //    h5(ng-init="init()" style="color:blue;") {{activeUser}}
    ul.nav.stf-nav.pull-right(nav-menu='current' style="padding-left: 0px;").unselectable
      div(class="btn-group" uib-dropdown dropdown-append-to-body )
        button(id="btn-append-to-body" type="button" style="border: none; background: none;padding-right: 10px;")
          img(ng-src="{{userFile}}" height="32" width="32" uib-dropdown-toggle ng-init="init()").pull-left
          span(class="caret")
            ul(class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="background-color: #F0F0F0;border: 1px solid black;").dropdown-menu-right
              div(style="text-align:left;background-color: #F8F8F8;")
                table
                  tr
                    td(rowspan="2")
                      img(style="border-radius: 30px;" ng-src="{{userFile}}" height="60" width="60")
                    td(style="padding-left:20px")
                      h4(style="color:black")
                        b
                          u {{activeUser}}
                  tr
                    td(style="padding-left:20px")
                      h5 {{activeUserEmail}}
              div(style="text-align:left;")
                h5(style="color:black") Upload Avatar
                  input(type="file" nv-file-select ng-file-select="add()" ng-model="avatarFile" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*")
                br
              div(style="text-align:left;margin-bottom: 20px;")
                a(href="" ng-click='logout()' style="border: 1px solid black;margin-left: 20px;margin-right: 20px;color:black;padding-left: 12px;padding-right: 12px;") Log Out
                //button.btn(type='logOut', ng-click="logout()") Log Out



    ul.nav.stf-nav.stf-feedback.pull-right(ng-cloak, nav-menu='current').unselectable
      li.stf-nav-web-native-button(ng-if='!$root.basicMode && isControlRoute')
        .btn-group
          button(type='button', ng-model='$root.platform', uib-btn-radio="'web'", translate).btn.btn-sm.btn-default-outline Web
          button(type='button', ng-model='$root.platform', uib-btn-radio="'native'", translate).btn.btn-sm.btn-default-outline Native

      li(ng-show='!$root.basicMode' style="padding-right: 0px;")
        a(ng-href='/#!/help', accesskey='6')
          i.fa.fa-question-circle.fa-fw
          | {{ "Help" | translate }}

      //- li(ng-show='!$root.basicMode')
      //-   a(ng-href='/', accesskey='6')
      //-     i.fa.fa-question-circle.fa-fw
      //-     | {{ "Log Out" | translate }}

      //li(ng-show='!root.basicMode')
      //  button(ng-click='logout()').btn-primary
      //    i.fa.fa-sign-out
      //    span(translate) LogOut
