.navbar.stf-menu(ng-controller='MenuCtrl')
  .container-fluid.stf-top-bar
    a.stf-logo(ng-href="/#!/devices") STF
    ul.nav.stf-nav(nav-menu='current').unselectable
      li(ng-cloak)
        a(ng-href='/#!/control/{{lastUsedDevice}}', ng-show='lastUsedDevice')
          span.fa.fa-mobile
          span(ng-if='!$root.basicMode', translate) Control
        a(ng-href='/#!/devices', accesskey='1')
          span.fa.fa-sitemap
          span(ng-if='!$root.basicMode', translate) Devices
        a(ng-href='/#!/settings')
          span.fa.fa-gears
          span(ng-if='!$root.basicMode', translate) Settings

    //ul.nav.stf-nav.pull-right(nav-menu='current').unselectable
    //  div(style="vertical-align: middle;")
    //    h5(ng-init="init()" style="color:blue;") {{activeUser}}
    ul.nav.stf-nav.pull-right(nav-menu='current').unselectable
      div(class="btn-group" uib-dropdown dropdown-append-to-body ng-init="init()")
        button(id="btn-append-to-body" type="button" style="border: none; background: none;")
          img(ng-src="http://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/kirito-kazuto-kirigaya-sword-art-online-hollow-realization-76.7.jpg" height="32" width="32" uib-dropdown-toggle)
          span(class="caret")
            ul(class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body").dropdown-menu-right
              div(style="text-align:center;")
                h4
                  b
                   u {{activeUser}}
              div(style="text-align:center;")
                a(href="" ng-click='logout()') logOut
              div
                br
              div(style="text-align:center;")
                a(href="#") Refresh


    ul.nav.stf-nav.stf-feedback.pull-right(ng-cloak, nav-menu='current').unselectable
      li.stf-nav-web-native-button(ng-if='!$root.basicMode && isControlRoute')
        .btn-group
          button(type='button', ng-model='$root.platform', uib-btn-radio="'web'", translate).btn.btn-sm.btn-default-outline Web
          button(type='button', ng-model='$root.platform', uib-btn-radio="'native'", translate).btn.btn-sm.btn-default-outline Native

      li(ng-show='!$root.basicMode')
        a(ng-href='/#!/help', accesskey='6')
          i.fa.fa-question-circle.fa-fw
          | {{ "Help" | translate }}

      //- li(ng-show='!$root.basicMode')
      //-   a(ng-href='/', accesskey='6')
      //-     i.fa.fa-question-circle.fa-fw
      //-     | {{ "Log Out" | translate }}

      //li(ng-show='!root.basicMode')
      //  button(ng-click='logout()').btn-primary
      //    i.fa.fa-sign-out
      //    span(translate) LogOut
