.stf-fatal-message.stf-modal
  .modal-header.dialog-header-errorX
    button(type='button', ng-click='cancel()').close &times;
    h4.modal-title.text-danger
      i.fa.fa-warning
      .button-spacer
      span(translate) Disconnected
  .modal-body
    nothing-to-show(message='{{ message | translate }}', icon='fa-plug fa-4x')

  .modal-footer
    button.btn.btn-primary-outline.pull-right(type='button', ng-click='ok()')
      i.fa.fa-refresh
      span(translate) Try to reconnect
