.stf-fatal-message.stf-modal
  .modal-header.dialog-header-errorX
    button(type='button', ng-click='cancel()').close &times;
    h4.modal-title.text-danger
      i.fa.fa-warning
      .button-spacer
      span(translate) Device was disconnected
  .modal-body
    h4(translate, ng-bind='device.likelyLeaveReason | likelyLeaveReason')
    br
    .big-thumbnail
      .device-photo-small
        img(ng-src='/static/app/devices/icon/x120/{{ device.image || "E30HT.jpg" }}')
      .device-name(ng-bind='device.enhancedName')
      h3.device-status(ng-class='stateColor')
        span(ng-bind='device.enhancedStatePassive | translate')

  .modal-footer
    button.btn.btn-primary-outline.pull-left(type='button', ng-click='ok()')
      i.fa.fa-refresh
      span(translate) Try to reconnect
    button.btn.btn-success-outline(ng-click='second()')
      i.fa.fa-sitemap
      span(translate) Go to Device List
