.stf-fatal-message.stf-modal
  .modal-header.dialog-header-error
    button(type='button', ng-click='cancel()').close &times;
    h4.modal-title.text-danger
      i.fa.fa-warning
      .button-spacer
      span(translate) {{ device.enhancedName }} was disconnected
  .modal-body
    .text-danger(translate) You are no longer controlling the device.
    br
    h3 {{ device.likelyLeaveReason | likelyLeaveReason | translate }}
    br
    h4(translate).pull-right  {{ device.enhancedName }} current status:
    br
    br
    h4.pull-right {{ device.enhancedStatePassive | translate }}


  .modal-footer
    button.btn.btn-primary(type='button', ng-click='ok()')
      i.fa.fa-refresh
      span(translate) Try to reconnect
    button.btn.btn-success(ng-click='second()')
      i.fa.fa-sitemap
      span(translate) Go to Device List
