.widget-container.fluid-height.stf-remote-debug(ng-controller='RemoteDebugCtrl')
  .heading
    i.fa.fa-bug
    span(translate) Remote debug
  .widget-content.padded
    span(translate) Run the following on your command line:
    pre(ng-bind='remoteDebugCommand()')
