.stf-stats-container .fa {
  font-size: 0.8em;
}

.stf-stats-container.ng-enter {
  /*-webkit-transition: 2000ms ease 1s;*/
  /*transition: 2000ms ease 1s;*/
  -webkit-transition: 550ms ease 0ms;
  transition: 550ms ease 0ms;
  opacity: 0;
}

.stf-stats-container.ng-enter-active {
  opacity: 1;
}
