.widget-container.fluid-height(ng-controller='LanguageCtrl')
  .heading
    i.fa.fa-flag
    span(translate) Language
  .widget-content.padded
    .form-horizontal
      .form-group
        select.form-control(ng-model='language', ng-options='key as value for (key, value) in supportedLanguages')
