.interact-control.fill-height.as-table.stf-device-control

  .as-cell.fill-height
    .as-table.fill-height
      .stf-vnc-navbar.as-row
        a.stf-vnc-device-name.cursor.dropdown-toggle
          p {{ $root.device.name }}
          span(ng-show='$root.device && !$root.device.present', translate) (Absent)

        .pull-right
          button(ng-click='$root.control.identify()', tooltip='Find Device', tooltip-placement='bottom').btn.btn-sm.btn-info-outline
            i.fa.fa-info

          span
            button(type='button', ng-click='$root.control.rotate(0)', tooltip='Rotate Left', tooltip-placement='bottom').btn.btn-sm.btn-primary-outline
              i.fa.fa-rotate-left
            button(type='button', ng-click='$root.control.rotate(90)', tooltip='Rotate Right', tooltip-placement='bottom').btn.btn-sm.btn-primary-outline
              i.fa.fa-rotate-right

          button(type='button', ng-model='showScreen', btn-checkbox).btn.btn-sm.btn-danger
            i(ng-show='showScreen', tooltip-html-unsafe='{{"Just control device"|translate}}<br /><code>⌘-⇧-O</code>', tooltip-placement='left').fa.fa-eye
            i(ng-show='!showScreen', tooltip-html-unsafe='{{"View device"|translate}}<br /><code>⌘-⇧-O</code>', tooltip-placement='left').fa.fa-eye-slash
        //button(ng-click='showScreen = !showScreen') Show/Hide


      .as-row.fill-height(ng-file-drop='$root.install($files)')
        div(ng-controller='DeviceScreenCtrl')
          device-screen(style='width: 400px; height: 600px; background: gray')

      .stf-vnc-bottom.as-row
        .controls
          .btn-group.btn-group-justified
            a(ng-click='$root.control.menu()', title='{{"Menu"|translate}}').btn.btn-primary.btn-lg
              i.fa.fa-bars
            a(ng-click='$root.control.home()', title='{{"Home"|translate}}').btn.btn-primary.btn-lg
              i.fa.fa-home
            a(ng-click='$root.control.back()', title='{{"Back"|translate}}').btn.btn-primary.btn-lg
              i.fa.fa-mail-reply
