.interact-control.fill-height.as-table

  .as-cell.fill-height
    .as-table.fill-height
      .stf-vnc-navbar.as-row
        a.stf-vnc-device-name.cursor.dropdown-toggle
          p {{ $root.device.serial }} {{ $root.device.present ? 'present' : 'absent' }}
        button(ng-click='showScreen = !showScreen') Show/Hide
        button(ng-click='$root.control.identify()') Identify



      div(ng-if='installation')
        strong Installation status: {{ installation.progress}}% ({{ installation.lastData }})

      .as-row.fill-height
        div(ng-controller='DeviceScreenCtrl', ng-file-drop='$root.install($files)')
          device-screen(style='width: 400px; height: 600px; background: gray')

      .stf-vnc-bottom.as-row
        .controls
          .btn-group.btn-group-justified
            a(ng-click='$root.control.menu()', title='{{"Menu"|translate}}').btn.btn-primary.btn-lg
              i.fa.fa-bars
            a(ng-click='$root.control.home()', title='{{"Home"|translate}}').btn.btn-primary.btn-lg
              i.fa.fa-home
            a(ng-click='$root.control.back()', title='{{"Back"|translate}}').btn.btn-primary.btn-lg
              i.fa.fa-mail-reply
