doctype html
html
  head
    title STF
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    include partials/styles
  body(ng-cloak)
    div(ng-view)
    script(src='/static/bower_components/requirejs/require.js', data-main='static/auth/ldap/scripts/main.js')
    script(src='/static/bower_components/stf-analytics/analytics.js')
