doctype html
html(ng-app='app')
  head
    title STF
    base(href='/')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
  body(ng-cloak)
    div(ng-view)
    script(src='static/app/build/entry/commons.entry.js')
    script(src='static/app/build/entry/authldap.entry.js')
