.panel.panel-default.stf-add-adb-key(ng-show='showAdd')
  .panel-heading
    h3.panel-title(translate) Add ADB Key
  .panel-body
    form.form-horizontal(name='adbkeyform', ng-submit='addKey(key)')

      div(ng-show='showClipboard')

        .alert.alert-info.selectable
          strong(translate) Tip:
          span &nbsp;
          span(translate) Run this command to copy the key to your clipboard
          textarea(readonly, rows='1', text-focus-select, ng-copy='focusAddKey = true'
          ).form-control.remote-debug-textarea pbcopy < ~/.android/adbkey.pub

      br

      .form-group
        label.control-label(for='adb-device-key')
          i.fa.fa-key.fa-fw
          span(translate) Key

        textarea(id='adb-device-key', rows='4', name='deviceKey', ng-model='addForm.key', ng-required='true',
        autocorrect='off', autocapitalize='off', spellcheck='false',
        focus-element='focusAddKey', ng-paste='focusAddTitle = true').form-control

      .form-group
        label.control-label(for='adb-device-title')
          i.fa.fa-laptop.fa-fw
          span(translate)  Device

        input(id='adb-device-title', type='text', name='deviceTitle', ng-model='addForm.title', ng-required='true',
        text-focus-select, focus-element='focusAddTitle').form-control

      button.btn.btn-primary-outline.btn-sm.pull-right(type='submit')
        i.fa.fa-plus.fa-fw
        span(translate) Add Key

    error-message(message='{{error}}')
