.panel.panel-default.stf-add-adb-key(ng-show='showAdd')
  .panel-heading
    h3.panel-title(translate) Add ADB Key
  .panel-body
    form.form-horizontal(name='adbkeyform', ng-submit='addKey(key)')

      div(ng-show='showClipboard')

        .alert.alert-info.selectable <strong>Tip: </strong>Run this command to copy the key to your clipboard
          a(ng-href='/#!/docs/adb-keys').pull-right
            i.fa.fa-question-circle(tooltip='{{"More about ADB Keys" | translate}}', tooltip-placement='left')
          textarea(readonly, rows='1', text-focus-select, ng-copy='focusAddKey = true'
          ).form-control.remote-debug-textarea pbcopy < ~/.android/adbkey.pub

        br

      .form-group
        label.control-label.col-md-1
          i.fa.fa-key.fa-fw
          span(translate) Key
        .col-md-11
          textarea(rows='4', name='deviceKey', ng-model='addForm.key', ng-required='true',
          autocorrect='off', autocapitalize='off', spellcheck='false',
          focus-element='focusAddKey', ng-paste='focusAddTitle = true').form-control

      .form-group
        label.control-label.col-md-1
          i.fa.fa-laptop.fa-fw
          span(translate)  Device
        .col-md-11
          input(type='text', name='deviceTitle', ng-model='addForm.title', ng-required='true',
          text-focus-select, focus-element='focusAddTitle').form-control

      button.btn.btn-primary-outline.btn-sm.pull-right(type='submit')
        i.fa.fa-plus.fa-fw
        span(translate) Add Key

    error-message(message='{{error}}')
