.stf-fatal-message
  .modal-header.dialog-header-error
    button(type='button', ng-click='cancel()').close &times;
    h4.modal-title.text-danger
      i.fa.fa-warning
      span  Device was disconnected
  .modal-body.text-danger Device is not in use anymore
  .modal-footer
    button.btn.btn-primary(type='button', ng-click='ok()')
      i.fa.fa-refresh
      span Try to reconnect
    button.btn.btn-success(ng-click='second()')
      i.fa.fa-sitemap
      span Go to Device List
    //button.btn.btn-warning(translate, ng-click='cancel()') Close

      //'<div class="modal-header dialog-header-error">
      //  <button type="button" class="close" ng-click="close()">&times;</button>
      //  <h4 class="modal-title text-danger">
      //    <span class="glyphicon glyphicon-warning-sign"></span>
      //    <span ng-bind-html="header"></span>
      //  </h4>
      //</div>
      //
      //<div class="modal-body text-danger" ng-bind-html="msg"></div>
      //<div class="modal-footer">
      //  <button type="button" class="btn btn-default" ng-click="close()">
      //'+startSym+'"DIALOGS_CLOSE" | translate'+endSym+'</button>
      //</div>'
