.stf-fatal-message .dialog-header-error {
  background-color: #d2322d;
}

.stf-fatal-message .dialog-header-wait {
  background-color: #428bca;
}

.stf-fatal-message .dialog-header-notify {
  background-color: #eeeeee;
}

.stf-fatal-message .dialog-header-confirm {
  background-color: #333333;
}

.stf-fatal-message .dialog-header-error span,
.stf-fatal-message .dialog-header-error h4,
.stf-fatal-message .dialog-header-wait span,
.stf-fatal-message .dialog-header-wait h4,
.stf-fatal-message .dialog-header-confirm span,
.stf-fatal-message .dialog-header-confirm h4 {
  color: #ffffff;
}
