.modal-header
  h3.modal-title(translate) Device was disconnected
  .modal-body
    h4 Device is not in use anymore
  .modal-footer
    button.btn.btn-primary(translate, ng-click='ok()') Try to reconnect
    button.btn.btn-success(translate, ng-click='second()') Go to Device List
    button.btn.btn-warning(translate, ng-click='cancel()') Close
