//
  Copyright © 2019 contains code contributed by Orange SA, authors: Denis Barbaron - Licensed under the Apache license 2.0
//

.row
  .col-md-3
    div(ng-include='"settings/general/local/local-settings.pug"')
  .col-md-3
    div(ng-include='"settings/general/language/language.pug"')
  .col-md-3
    div(ng-include='"settings/general/date-format/date-format.pug"')
  .col-md-3
    div(ng-include='"settings/general/email-address-separator/email-address-separator.pug"')
