div
  table.table(style="width:100%")
    tr
      td(colspan="7" align="center")
        select(name="main" ng-model="mainGroup" ng-change="groupChange()" ng-init="initGroups()")
          option(value='{{group.name}}' ng-repeat="group in groups") {{group.name}}


        button.btn(type='addNewGroup', ng-click="addNewGroup()") New
        button.btn(type='addNewGroup', ng-click="deleteGroup()") Delete

    tr
      td Users exists in selected group
      td
      td All available users list
      td
      td Devices exists in selected group
      td
      td All available devices list

    tr
      td(width="20%")
        select(name="groupUsers" ng-model="selectedGroupUsers" multiple="multiple" size="10" style="width: 100%;" ng-init="initUsers()")
          option(value='{{user.email}}' ng-repeat="user in adminGroupUsers") {{user.name}}

      td(width="5%")
        table(align="center")
          tr
            td
              button.btn(type='groupRemoveUser', ng-click="clickUserGroupRemove()") ->
          tr
            td
              button.btn(type='groupAddUser', ng-click="clickUserGroupAdd()") <-

      td(width="20%")
        select(name="allUsers" ng-model="selectedAvailableUsers" multiple="multiple" size="10" style="width: 100%;" ng-init="initUsers()")
          option(value='{{user.email}}' ng-repeat="user in adminAvailableUsers") {{user.name}}

      td(width="10%")

      td(width="20%")
        select(name="groupDevices" ng-model="selectedGroupDevices" multiple="multiple" size="10" style="width: 100%;")
          option(value='{{device.serial}}' ng-repeat="device in adminGroupDevices") {{device.model}}

      td(width="5%")
        table(align="center")
          tr
            td
              button.btn(type='groupRemove', ng-click="clickDeviceGroupRemove()") ->
          tr
            td
              button.btn(type='groupAdd', ng-click="clickDeviceGroupAdd()") <-

      td(width="20%")
        select(name="allDevices" ng-model="selectedAvailableDevices" multiple="multiple" size="10" style="width: 100%;")
          option(value='{{device.serial}}' ng-repeat="device in adminAvailableDevices") {{device.model}}

