h1 {{ device.serial }} {{ device.present ? 'present' : 'absent' }}

button(ng-click='showScreen = !showScreen') Show/Hide
button(ng-click='control.identify()') Identify

div(ng-controller='DeviceScreenCtrl')
  device-screen(style='width: 400px; height: 600px; background: gray')

button(ng-click='control.menu()') Menu
button(ng-click='control.home()') Home
button(ng-click='control.back()') Back
